asttokens
bleach
bokeh
Brotli
cached-property
certifi
cffi==1.16.0
charset-normalizer
colorama
colorcet==3.1.0
comm
contourpy
cryptography==42.0.5
cycler
debugpy
decorator
docutils==0.20.1
exceptiongroup
executing
fonttools
h5py
holoviews==1.18.3
idna
importlib_metadata
ipykernel
ipython
jaraco.classes==3.3.1
jedi
jeepney==0.8.0
Jinja2
jupyter_client
jupyter_core
keyring==24.3.1
kiwisolver
linkify-it-py
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
more-itertools==10.2.0
mpi4py
munkres==1.1.4
nest_asyncio
nh3==0.2.15
nodejs==0.1.1
numpy
optional-django==0.1.0
packaging
pandas
panel
param
parso
pexpect
pickleshare
pillow
pkginfo==1.10.0
platformdirs
plotly==5.19.0
ply==3.11
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser==2.21
Pygments
pyparsing
PyQt5==5.15.9
PyQt5-sip==12.12.2
PySocks
python-dateutil
pytz
pyviz_comms
PyYAML
pyzmq
readme_renderer==43.0
requests
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
scipy
SecretStorage==3.3.3
setuptools==69.1.1
sip
six
stack-data
toml
tomli
tornado
tqdm
traitlets
twine==5.0.0
typing_extensions
tzdata
uc-micro-py
urllib3
wcwidth
webencodings
wheel==0.42.0
xyzservices
zipp